version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(message)s'

handlers:
  file:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: precise
    filename: /var/log/matrix/synapse.log
    when: midnight
    backupCount: 3
    encoding: utf8

  buffer:
    class: synapse.logging.handlers.PeriodicallyFlushingMemoryHandler
    target: file
    capacity: 10
    flushLevel: 30  # Flush immediately for WARNING logs and higher
    period: 5

  console:
    class: logging.StreamHandler
    formatter: precise

loggers:
  synapse:
    level: INFO

root:
  level: INFO
  handlers: [buffer, console]

disable_existing_loggers: false
